<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.intercomics.mapper.EpisodeRepository">

	<select id="afterEpisodeNoScroll" resultType="EpisodeVO">
		select * from
		episode
		where webtoonId = #{webtoonId}
		and
		<include refid="OrderbyFilter"></include>
		limit #{scrollStart}, #{perScrollNum}
	</select>

	<sql id="OrderbyFilter">
		<choose>
			<when test="orderby eq 'asc'.toString()">
			<![CDATA[  
				episodeNo > #{episodeNo}
				order by episodeNo asc
			]]>
			</when>
			<when test="orderby eq 'desc'.toString()">
			<![CDATA[ 
				episodeNo < #{episodeNo}
				order by episodeNo desc
			]]>
			</when>
		</choose>
	</sql>

</mapper>